* {
  box-sizing: border-box;
}

body {
  background-color: #333333;
  font-family: Raleway;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Licorice";
  src: url("assets/fonts/Licorice-Regular.ttf");
  font-weight: 400;
}
