* {
  box-sizing: border-box;
}

body {
  background-color: #aaa;
  font-family: Raleway;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  border: 1px solid red;
}

main {
  border: 1px solid blue;
}

footer {
  border: 1px solid yellow;
}

.nav-item {
  border: 1px solid green;
}

.nav-link {
  border: 1px dotted black;
}

.container {
  border: 1px solid violet;
  max-width: 1440px;
  margin: 0 auto;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Licorice";
  src: url("assets/fonts/Licorice-Regular.ttf");
  font-weight: 400;
}
